- fields:
    domain: '<%= domain %>'
    name: '<%= name.to_s.capitalize %> Community'
  model: sites.site
  pk: 1
- fields:
    title: Person
    slug: person
    description: ''
  model: profiles.type
  pk: 1
- fields:
    email: <%= user['email'] %>
    first_name: <%= user['firstname'] %>
    is_active: true
    is_staff: true
    is_superuser: true
    last_name: <%= user['lastname'] %>
    password: <%= user['password'] %>
    username: <%= user['username'] %>
  model: auth.user
  pk: 1
- fields: {author: 1, icon: '', is_public: true, name: Default theme, parent_theme: 1,
    theme_code: '/* Basic customization *******************************************/

      /* group page backgrounds */ .wrapper { background: white url(/media/images/container_background.png)
      top left repeat-x; }

      #container { background: none; color: #333333; }

      /* links style */ a { color: #333333; text-decoration: underline; }

      a:hover { color: #666666; text-decoration: none; }

      /* default box style */ .box { /* here overwrite box style */ }

      .box .header { /* here overwrite box header style */ }

      .box .header h2 { /* here overwrite box title style */ }

      .box .body { /* here overwrite box body style */ }

      .box .footer { /* here overwrite box body style */ }

      .legend, .item .legend { color: #666666; font-size: 11px; }

      .author { /* here set author style */ }

      .time { /* here set time style */ }

      .action-link { border-top: 1px dotted #D9D9D9; margin-top: 2px; padding-top:
      2px; }

      .action-link a { font-weight: bold; }

      .count { color: #999999; }

      .view-all { color: #999999; float: right; font-size: 11px; }

      .pagination { margin-bottom: 16px; }

      /* user avatar & user menu */ .avatar { background: url(/media/images/avatar_backgrounds.gif)
      top left no-repeat; cursor: pointer; float: left; height: 38px; margin-right:
      4px; padding: 3px 9px 0 3px; position: relative; width: 26px; }

      .avatar:hover, .avatar:active { background: url(/media/images/avatar_backgrounds.gif)
      -38px 0 no-repeat; }

      .avatar:active { margin-top: 1px; margin-bottom: -1px; }

      .avatar-menu { margin-top: 36px; }

      .avatar-menu li a { color: #333333; }

      /* Modules customization *******************************************/

      /* Group Info *******************************************/ .module-group-info
      { background: #F6F6F6; border: 1px solid #E2E2E2; border-bottom: 1px solid #D9D9D9;
      padding: 8px; }

      .group-desc { border-bottom: 1px dotted #CCCCCC; margin-bottom: 4px; padding-bottom:
      8px; }

      .group-type { padding: 2px 0; }

      .group-channel, .group-tags { color: #666666; font-weight: bold; padding: 2px
      0; }

      .group-tags a, .group-tags a:link { font-weight: normal; }

      .group-views { border-top: 1px dotted #CCCCCC; font-size: 11px; margin-top:
      4px; padding-top: 4px; }

      .group-update { font-size: 11px; }

      .group-widget { border-top: 1px dotted #CCCCCC; margin-top: 4px; }

      /* Members *******************************************/ .module-members { /*
      here overwrite members box style */ }

      .member-card { margin-bottom: 4px; }

      .member-card .legend { font-size: 11px; }

      .member-avatar { /* applied when option "Display avatar only" is chosen */ float:
      left; padding: 2px; }

      /* Cover *******************************************/ .module-group-cover {
      background: none; border: 0; padding: 0; }

      .module-group-cover .group-cover { border: 3px solid #D9D9D9; margin-bottom:
      2px; }

      /* Posts & Subscriptions *******************************************/ .module-posts,
      .module-subscriptions { /* here overwrite posts and subscriptions box style
      */ }

      .post h4 { /* here overwrite post title style */ }

      .post .legend { /* here overwrite post legend style */ }

      /* Photos *******************************************/ .module-photos { /* here
      overwrite photos box style */ }

      ul.photos li { float: left; padding: 0 4px 4px 0; }

      img.photo { background: #F6F6F6; border: 1px solid #D9D9D9; }

      a img.photo:hover { background: #FFCCFF; border-color: #E8B6E5; }

      /* Discussions *******************************************/ .module-discussions
      { /* here overwrite discussions box style */ }

      .topic { margin-bottom: 8px; }

      .topic h4 { /* here overwrite topic title style */ }

      .topic .info .title-add { color: #999999; font-size: 12px; font-weight: normal;
      letter-spacing: 0; padding-left: 8px; } '}
  model: themes.theme
  pk: 1
- fields: {content_type: 14, description: About this group, name: About, type: 1}
  model: modules.module
  pk: 14
- fields: {content_type: 15, description: List of group activities, name: Activities,
    type: 1}
  model: modules.module
  pk: 15
- fields: {content_type: 2, description: List of articles sent to the group, name: Articles,
    type: 1}
  model: modules.module
  pk: 2
- fields: {content_type: 16, description: List of group audios, name: Audios, type: 1}
  model: modules.module
  pk: 16
- fields: {content_type: 18, description: Live chat, name: Chat, type: 1}
  model: modules.module
  pk: 18
- fields: {content_type: 3, description: 'List of group''s active discussions ', name: Discussions,
    type: 1}
  model: modules.module
  pk: 3
- fields: {content_type: 17, description: Live video feed, name: Live video, type: 1}
  model: modules.module
  pk: 17
- fields: {content_type: 5, description: List of group's members, name: Members, type: 1}
  model: modules.module
  pk: 5
- fields: {content_type: 6, description: List of photos sent to the group, name: Photos,
    type: 1}
  model: modules.module
  pk: 6
- fields: {content_type: 8, description: List of group videos, name: Videos, type: 1}
  model: modules.module
  pk: 8
- fields: {content_type: 19, description: Send status updates, name: Status updates, type: 1}
  model: modules.module
  pk: 19

- fields: {type: 1, icon: 'layouts/icon/layout-icon-1.jpg'}
  model: !!python/unicode 'layouts.layout'
  pk: 1
- fields: {type: 2, icon: 'layouts/icon/layout-icon-2.jpg'}
  model: !!python/unicode 'layouts.layout'
  pk: 2
- fields: {type: 3, icon: 'layouts/icon/layout-icon-3.jpg'}
  model: !!python/unicode 'layouts.layout'
  pk: 3
- fields: {type: 4, icon: 'layouts/icon/layout-icon-4.jpg'}
  model: !!python/unicode 'layouts.layout'
  pk: 4
- fields: {type: 5, icon: 'layouts/icon/layout-icon-5.jpg'}
  model: !!python/unicode 'layouts.layout'
  pk: 5
- fields: {type: 6, icon: 'layouts/icon/layout-icon-6.jpg'}
  model: !!python/unicode 'layouts.layout'
  pk: 6
- fields: {type: 7, icon: 'layouts/icon/layout-icon-7.jpg'}
  model: !!python/unicode 'layouts.layout'
  pk: 7
- fields: {layout: 1, is_module_container: true, name: !!python/unicode 'box_layout1_1',
    order: 1, parent_box: null, position: 1, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 1
- fields: {layout: 1, is_module_container: true, name: !!python/unicode 'box_layout1_2',
    order: 2, parent_box: null, position: 3, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 2
- fields: {layout: 2, is_module_container: false, name: !!python/unicode 'box_layout2_1',
    order: 1, parent_box: null, position: 1, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 3
- fields: {layout: 2, is_module_container: true, name: !!python/unicode 'box_layout2_2',
    order: 2, parent_box: null, position: 3, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 4
- fields: {layout: 2, is_module_container: true, name: !!python/unicode 'box_layout2_1_1',
    order: 1, parent_box: 3, position: 1, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 5
- fields: {layout: 2, is_module_container: false, name: !!python/unicode 'box_layout2_1_2',
    order: 2, parent_box: 3, position: 1, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 6
- fields: {layout: 2, is_module_container: true, name: !!python/unicode 'box_layout2_1_2_1',
    order: 1, parent_box: 6, position: 1, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 7
- fields: {layout: 2, is_module_container: true, name: !!python/unicode 'box_layout2_1_2_2',
    order: 2, parent_box: 6, position: 3, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 8
- fields: {layout: 3, is_module_container: true, name: !!python/unicode 'box_layout3_1',
    order: 1, parent_box: null, position: 1, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 9
- fields: {layout: 3, is_module_container: true, name: !!python/unicode 'box_layout3_2',
    order: 2, parent_box: null, position: 3, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 10
- fields: {layout: 4, is_module_container: false, name: !!python/unicode 'box_layout4_1',
  order: 1, parent_box: null, position: 2, width: 1}
  model: !!python/unicode 'layouts.box'
  pk: 11
- fields: {layout: 4, is_module_container: false, name: !!python/unicode 'box_layout4_2',
  order: 2, parent_box: null, position: 2, width: 1}
  model: !!python/unicode 'layouts.box'
  pk: 12
- fields: {layout: 4, is_module_container: true, name: !!python/unicode 'box_layout4_1_1',
  order: 1, parent_box: 11, position: 1, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 13
- fields: {layout: 4, is_module_container: true, name: !!python/unicode 'box_layout4_1_2',
  order: 2, parent_box: 11, position: 3, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 14
- fields: {layout: 4, is_module_container: true, name: !!python/unicode 'box_layout4_2_1',
  order: 1, parent_box: 12, position: 1, width: 3}
  model: !!python/unicode 'layouts.box'
  pk: 15
- fields: {layout: 4, is_module_container: true, name: !!python/unicode 'box_layout4_2_2',
  order: 2, parent_box: 12, position: 3, width: 3}
  model: !!python/unicode 'layouts.box'
  pk: 16
- fields: {layout: 5, is_module_container: false, name: !!python/unicode 'box_layout5_1',
  order: 1, parent_box: null, position: 2, width: 1}
  model: !!python/unicode 'layouts.box'
  pk: 17
- fields: {layout: 5, is_module_container: false, name: !!python/unicode 'box_layout5_2',
  order: 2, parent_box: null, position: 2, width: 1}
  model: !!python/unicode 'layouts.box'
  pk: 18
- fields: {layout: 5, is_module_container: true, name: !!python/unicode 'box_layout5_1_1',
  order: 1, parent_box: 17, position: 1, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 19
- fields: {layout: 5, is_module_container: true, name: !!python/unicode 'box_layout5_1_2',
  order: 2, parent_box: 17, position: 3, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 20
- fields: {layout: 5, is_module_container: true, name: !!python/unicode 'box_layout5_2_1',
  order: 1, parent_box: 18, position: 1, width: 3}
  model: !!python/unicode 'layouts.box'
  pk: 21
- fields: {layout: 5, is_module_container: true, name: !!python/unicode 'box_layout5_2_2',
  order: 2, parent_box: 18, position: 3, width: 3}
  model: !!python/unicode 'layouts.box'
  pk: 22
- fields: {layout: 6, is_module_container: false, name: !!python/unicode 'box_layout6_1',
  order: 1, parent_box: null, position: 2, width: 1}
  model: !!python/unicode 'layouts.box'
  pk: 23
- fields: {layout: 6, is_module_container: false, name: !!python/unicode 'box_layout6_2',
  order: 2, parent_box: null, position: 2, width: 1}
  model: !!python/unicode 'layouts.box'
  pk: 24
- fields: {layout: 6, is_module_container: true, name: !!python/unicode 'box_layout6_1_1',
  order: 1, parent_box: 23, position: 1, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 25
- fields: {layout: 6, is_module_container: true, name: !!python/unicode 'box_layout6_1_2',
  order: 2, parent_box: 23, position: 3, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 26
- fields: {layout: 6, is_module_container: true, name: !!python/unicode 'box_layout6_2_1',
  order: 1, parent_box: 24, position: 1, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 27
- fields: {layout: 6, is_module_container: true, name: !!python/unicode 'box_layout6_2_2',
  order: 2, parent_box: 24, position: 3, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 28
- fields: {layout: 7, is_module_container: false, name: !!python/unicode 'box_layout7_1',
  order: 1, parent_box: null, position: 2, width: 1}
  model: !!python/unicode 'layouts.box'
  pk: 29
- fields: {layout: 7, is_module_container: false, name: !!python/unicode 'box_layout7_2',
  order: 2, parent_box: null, position: 2, width: 1}
  model: !!python/unicode 'layouts.box'
  pk: 30
- fields: {layout: 7, is_module_container: true, name: !!python/unicode 'box_layout7_1_1',
  order: 1, parent_box: 29, position: 1, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 31
- fields: {layout: 7, is_module_container: true, name: !!python/unicode 'box_layout7_1_2',
  order: 2, parent_box: 29, position: 3, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 32
- fields: {layout: 7, is_module_container: true, name: !!python/unicode 'box_layout7_2_1',
  order: 1, parent_box: 30, position: 1, width: 2}
  model: !!python/unicode 'layouts.box'
  pk: 33
- fields: {layout: 7, is_module_container: true, name: !!python/unicode 'box_layout7_2_2',
  order: 2, parent_box: 30, position: 3, width: 4}
  model: !!python/unicode 'layouts.box'
  pk: 34
- fields: {name: Adding Video, slug: adding-video, sort_order: 0}
  model: faq.topic
  pk: 1
- fields: {name: Creating a Group, slug: creating-group, sort_order: 0}
  model: faq.topic
  pk: 3
- fields: {name: Privacy, slug: privacy, sort_order: 0}
  model: faq.topic
  pk: 2
- fields: {answer: some answer, created_by: 1, created_on: !!timestamp '2009-08-31
      13:13:29', protected: 0, slug: how-can-i-contribute, sort_order: 0, status: 1,
    text: some question, topic: 1, updated_by: 1, updated_on: !!timestamp '2009-08-31
      13:13:29'}
  model: faq.question
  pk: 1

- fields:
    content: this is the about page
    enable_comments: false
    registration_required: false
    sites: [1]
    template_name: ''
    title: About
    url: /about/
  model: flatpages.flatpage
  pk: 1
- fields:
    content: "<h1>Privacy</h1>\r\n\r\n<h2>Privacy Policy</h2>\r\n\r\n<p>Your privacy\
      \ is critically important to us. At Hyperweek we have a few fundamental principles:</p>\r\
      \n\r\n<ul>\r\n<li>We don't ask you for personal information unless we truly\
      \ need it. (We can't stand services that ask you for things like your gender\
      \ or income level for no apparent reason.)</li>\r\n<li>We don't share your personal\
      \ information with anyone except to comply with the law, develop our products,\
      \ or protect our rights.</li>\r\n<li>We don't store personal information on\
      \ our servers unless required for the on-going operation of one of our services.</li>\r\
      \n<li>We aim to make it as simple as possible for you to control what's visible\
      \ to the public, seen by search engines, kept private, and permanently deleted.</li>\r\
      \n<ul>\r\n\r\n<p>Below is our privacy policy which incorporates these goals:</p>\r\
      \n\r\n<p><em>Hyperweek SA (\"Hyperweek\"\x9D) operates a website Hyperweek.com.\
      \ It is Hyperweek's policy to respect your privacy regarding any information\
      \ we may collect while operating our websites.</em></p>\r\n\r\n<h2>Website Visitors</h2>\r\
      \n\r\n<p>Like most website operators, Hyperweek collects non-personally-identifying\
      \ information of the sort that web browsers and servers typically make available,\
      \ such as the browser type, language preference, referring site, and the date\
      \ and time of each visitor request. Hyperweek's purpose in collecting non-personally\
      \ identifying information is to better understand how Hyperweek's visitors use\
      \ its website. From time to time, Hyperweek may release non-personally-identifying\
      \ information in the aggregate, e.g., by publishing a report on trends in the\
      \ usage of its website.</p>\r\n\r\n<p/>Hyperweek also collects potentially personally-identifying\
      \ information like Internet Protocol (IP) addresses. Hyperweek does not use\
      \ such information to identify its visitors, however, and does not disclose\
      \ such information, other than under the same circumstances that it uses and\
      \ discloses personally-identifying information, as described below.</p>\r\n\r\
      \n<h2>Gathering of Personally-Identifying Information</h2>\r\n\r\n<p>Certain\
      \ visitors to Hyperweek's websites choose to interact with Hyperweek in ways\
      \ that require Hyperweek to gather personally-identifying information. The amount\
      \ and type of information that Hyperweek gathers depends on the nature of the\
      \ interaction. For example, we ask visitors who sign up for an account at Hyperweek.com\
      \ to provide a username and email address. In each case, Hyperweek collects\
      \ such information only insofar as is necessary or appropriate to fulfill the\
      \ purpose of the visitor's interaction with Hyperweek. Hyperweek does not disclose\
      \ personally-identifying information other than as described below. And visitors\
      \ can always refuse to supply personally-identifying information, with the caveat\
      \ that it may prevent them from engaging in certain website-related activities.</p>\r\
      \n\r\n<h2>Aggregated Statistics</h2>\r\n\r\n<p>Hyperweek may collect statistics\
      \ about the behavior of visitors to its websites. For instance, Hyperweek may\
      \ monitor the most popular blogs on the Hyperweek.com site or use spam screened\
      \ by our service to help identify spam. Hyperweek may display this information\
      \ publicly or provide it to others. Hyperweek may disclose personally-identifying\
      \ information when you read articles on HyperWeek, as a registered member.</p>\r\
      \n\r\n<h2>Protection of Certain Personally-Identifying Information</h2>\r\n\r\
      \n<p>Hyperweek discloses potentially personally-identifying and personally-identifying\
      \ information when you read articles on HyperWeek (as a reader). Otherwise Hyperweek\
      \ discloses potentially personally-identifying and personally-identifying information\
      \ only to those of its employees, contractors and affiliated organizations that\
      \ (i) need to know that information in order to process it on Hyperweek's behalf\
      \ or to provide services available at Hyperweek's websites, and (ii) that have\
      \ agreed not to disclose it to others. Some of those employees, contractors\
      \ and affiliated organizations may be located outside of your home country;\
      \ by using Hyperweek's websites, you consent to the transfer of such information\
      \ to them. Hyperweek will not rent or sell potentially personally-identifying\
      \ and personally-identifying information to anyone. Other than to its employees,\
      \ contractors and affiliated organizations, as described above, Hyperweek discloses\
      \ potentially personally-identifying and personally-identifying information\
      \ only when required to do so by law, or when Hyperweek believes in good faith\
      \ that disclosure is reasonably necessary to protect the property or rights\
      \ of Hyperweek, third parties or the public at large. If you are a registered\
      \ user of an Hyperweek website and have supplied your email address, Hyperweek\
      \ may occasionally send you an email to tell you about new features, solicit\
      \ your feedback, or just keep you up to date with what's going on with Hyperweek\
      \ and our products. We primarily use our various product blogs to communicate\
      \ this type of information, so we expect to keep this type of email to a minimum.\
      \ If you send us a request (for example via a support email or via one of our\
      \ feedback mechanisms), we reserve the right to publish it in order to help\
      \ us clarify or respond to your request or to help us support other users. Hyperweek\
      \ takes all measures reasonably necessary to protect against the unauthorized\
      \ access, use, alteration or destruction of potentially personally-identifying\
      \ and personally-identifying information.</p>\r\n\r\n<h2>Cookies</h2>\r\n\r\n\
      <p>A cookie is a string of information that a website stores on a visitor's\
      \ computer, and that the visitor's browser provides to the website each time\
      \ the visitor returns. Hyperweek uses cookies to help Hyperweek identify and\
      \ track visitors, their usage of Hyperweek website, and their website access\
      \ preferences. Hyperweek visitors who do not wish to have cookies placed on\
      \ their computers should set their browsers to refuse cookies before using Hyperweek's\
      \ websites, with the drawback that certain features of Hyperweek's websites\
      \ may not function properly without the aid of cookies.</p>\r\n\r\n<h2>Privacy\
      \ Policy Changes</h2>\r\n\r\n<p>Although most changes are likely to be minor,\
      \ Hyperweek may change its Privacy Policy from time to time, and in Hyperweek's\
      \ sole discretion. Hyperweek encourages visitors to frequently check this page\
      \ for any changes to its Privacy Policy. If you have a Hyperweek.com account,\
      \ you should also check your blog's dashboard for alerts to these changes. Your\
      \ continued use of this site after any change in this Privacy Policy will constitute\
      \ your acceptance of such change.</p>\r\n\r\n<h2>Copyright</h2>\r\n\r\n<p>This\
      \ policy is a modified version of the policy available by Automattic under the\
      \ Creative Commons Sharealike license. You're welcome to use this version under\
      \ the same license.</p>"
    enable_comments: false
    registration_required: false
    sites: [1]
    template_name: ''
    title: Privacy
    url: /privacy/
  model: flatpages.flatpage
  pk: 3
- fields:
    content: "<h1>Terms</h1>\r\n\r\n<p><strong>PLEASE READ THESE TERMS AND CONDITIONS\
      \ (THE \"AGREEMENT\") CAREFULLY BEFORE USING THE SERVICES. BY CLICKING ON THE\
      \ \"OKAY, DONE!\" BUTTON, YOU OR THE ENTITY OR COMPANY THAT YOU REPRESENT ARE\
      \ CONSENTING TO BE BOUND BY AND ARE BECOMING A PARTY TO THIS AGREEMENT. YOUR\
      \ USE OF THE SITE AND THE SERVICES OFFERED BY HyperWeek IN ANY MANNER SHALL\
      \ ALSO CONSTITUTE ASSENT TO THIS AGREEMENT. IF YOU DO NOT AGREE TO ALL OF THE\
      \ TERMS AND CONDITIONS OF THIS AGREEMENT, YOU WILL HAVE NO RIGHT TO USE THE\
      \ SITE OR THE SERVICES DESCRIBED HEREIN. YOUR USE OF THE SITE AND/OR SERVICES\
      \ IS EXPRESSLY CONDITIONED UPON YOUR ASSENT TO ALL THE TERMS AND CONDITIONS\
      \ OF THIS AGREEMENT, TO THE EXCLUSION OF ALL OTHER TERMS; IF THESE TERMS AND\
      \ CONDITIONS ARE CONSIDERED AN OFFER BY HyperWeek, ACCEPTANCE IS EXPRESSLY LIMITED\
      \ TO THESE TERMS.</strong></p>\r\n\r\n<p>The Web pages available at www.hyperweek.com\
      \ and all linked pages (\"Site\"), are operated by Hyperweek SA. (\"HyperWeek\"\
      ), and are accessed by you (\"User\") under the following terms and conditions.</p>\r\
      \n\r\n<p>HyperWeek reserves the right, at its discretion, to modify the Agreement\
      \ or Services (as defined below) or Content (as defined below) at any time by\
      \ posting a notice on the Site, or by sending User a notice via email or postal\
      \ mail. User shall be responsible for reviewing and becoming familiar with any\
      \ such modifications. Use of the Services by User following such notification\
      \ constitutes User's acceptance of the terms and conditions of this Agreement\
      \ as modified.</p>\r\n\r\n<h2>ACCESS TO THE SERVICES.</h2>\r\n\r\n<p>Subject\
      \ to the terms and conditions of this Agreement, HyperWeek may offer to provide\
      \ certain services and content solely for User's personal, non-commercial use,\
      \ as described more fully on the Site, and which are selected by User through\
      \ the process provided on the Site (\"Services\"). Services shall include, but\
      \ not be limited to, any services HyperWeek performs for User, as well as the\
      \ offering of any materials displayed or performed on the Site (including, but\
      \ not limited to diagrams, text, graphics, news articles, photographs, images,\
      \ illustrations, audio clips and video clips, also known as the \"Content\"\
      ) on the Site. HyperWeek may change, suspend or discontinue the Services including\
      \ any Content for any reason, at any time, including the availability of any\
      \ feature, database, or content. HyperWeek may also impose limits on certain\
      \ features and services or restrict User's access to parts or all of the Services\
      \ without notice or liability. User shall be responsible for obtaining and maintaining\
      \ any equipment or ancillary services needed to connect to, access the Site\
      \ or otherwise use the Services.</p>\r\n\r\n<p>User certifies to HyperWeek that\
      \ if User is an individual (i.e., not a corporation or institution) User is\
      \ of legal age to form a binding contract. User also certifies that it is legally\
      \ permitted to use the Services and access the Site, and takes full responsibility\
      \ for the selection and use of the Services and access of the Site. Without\
      \ limiting the foregoing, if User is under the age of 13, User is not allowed\
      \ to use the Services. This Agreement is void where prohibited by law, and the\
      \ right to access the Site is revoked in such jurisdictions.</p>\r\n\r\n<h2>SITE\
      \ CONTENT.</h2>\r\n\r\n<p>The Site is protected by copyright as a collective\
      \ work and/or compilation, pursuant to U.S. copyright laws, international conventions,\
      \ and other copyright laws. User may not use, modify, publish, transmit, participate\
      \ in the transfer, license or sale of, reproduce (except as provided in this\
      \ section of the Agreement), create derivative works based on, distribute, perform,\
      \ display, or in any way exploit, any of the Content, software, materials, third\
      \ party submissions, Services, or other proprietary rights not owned by User\
      \ in whole or in part (i) without the express prior written consent of the respective\
      \ owners, and (ii) in any way that violates any third party right. User shall\
      \ abide by all copyright notices, information, and restrictions contained in\
      \ any Content accessed through the Services.</p>\r\n\r\n<p>User may, but only\
      \ to the extent the Site expressly authorizes User to do so, download or copy\
      \ the Content, and other items displayed on the Site for download, for personal,\
      \ non-commercial use only, provided that User maintains all copyright and other\
      \ notices contained in such Content. User shall not store any significant portion\
      \ of any Content in any form. Copying or storing of any Content for other than\
      \ personal, non-commercial use is expressly prohibited without prior written\
      \ permission from HyperWeek, or from the copyright holder (e.g. the person identified\
      \ in such Content's copyright notice).</p>\r\n\r\n<p>In the course of using\
      \ the Services, User and other users may provide information which may be used\
      \ by HyperWeek in connection with the Site or Services and which may be visible\
      \ to certain other users. HyperWeek does not claim ownership rights in any original\
      \ Content that User chooses to post to the Site or send using the Services.\
      \ After posting original Content to the Site or sending Content using the Services,\
      \ User continues to retain theownership rights in such Content that it had prior\
      \ to such posting or sending, subject to the rights and licenses granted in\
      \ this Agreement. User understands, consents and agrees that by uploading, displaying,\
      \ publishing, posting or otherwise submitting information, materials or content\
      \ to HyperWeek or through the Site (collectively, \"User Submissions\"), User\
      \ hereby does and shall grant HyperWeek a non exclusive, worldwide, royalty\
      \ free, fully paid, perpetual, irrevocable, sublicenseable and transferable\
      \ right and license to use, reproduce, prepare derivative works of, distribute,\
      \ publicly perform and display, modify, publish and otherwise fully exploit\
      \ such User Submissions (including all related intellectual property and moral\
      \ rights) in connection with the Site, Services and HyperWeek's (and its successor\
      \ and assigns) business. User also hereby does and shall grant each user of\
      \ the Site a non-exclusive license to access User Submissions through the Site\
      \ and to use, modify, reproduce, distribute, prepare derivative works of, display\
      \ and perform such User Submissions as permitted through the functionality of\
      \ the Site and under this Agreement. Further, HyperWeek may make User Submissions\
      \ available for download by User, other users and the general public, and allow\
      \ other users and the general public to download such User Submissions in accordance\
      \ with the sharing and download options User specifies in the upload form for\
      \ the applicable content file. If User has posted User Submissions to the Site\
      \ prior to the Effective Date of this Agreement, as modified, User acknowledges\
      \ and agrees that such User Submissions will only be so downloadable if User\
      \ requests such service on an upload form for that content file.</p>\r\n\r\n\
      <p>User understands that all content, material, and information publicly posted\
      \ or privately transmitted or otherwise accessible through the Site is the sole\
      \ responsibility of the person from which such content originated and that HyperWeek\
      \ will not be liable for any errors or omissions in any Content or any loss\
      \ or damage of any kind incurred in connection with use of or exposure to any\
      \ Content posted, emailed, accessed, transmitted or otherwise made available\
      \ via the Services. User understands that HyperWeek cannot guarantee the identity\
      \ of any other users with whom User may interact in the course of using the\
      \ Service. Additionally, HyperWeek cannot guarantee the authenticity of any\
      \ data which users may provide about themselves. User acknowledges that all\
      \ Content accessed by User using the Services is at User's own risk and User\
      \ will be solely responsible for any damage or loss to any party resulting therefrom.</p>\r\
      \n\r\n<h2>USER WARRANTY.</h2>\r\n\r\n<p>As a condition of use, User represents,\
      \ warrants and promises that it will not use the Services for any purpose that\
      \ is unlawful or prohibited by this Agreement, or any other purpose not reasonably\
      \ intended by HyperWeek, and that it possesses all rights necessary to use,\
      \ upload, display and perform, publish, post, distribute and submit the User\
      \ Submissions, and to grant HyperWeek and other users the rights and licenses\
      \ to such User Submissions as provided herein.</p>\r\n\r\n<p>By way of example,\
      \ and not as a limitation, User represents, warrants and agrees that it will\
      \ not contribute or send any Content or otherwise use the Services:</p>\r\n\r\
      \n<ul>\r\n<li>to abuse, harm, harass, threaten, impersonate or intimidate other\
      \ HyperWeek users;</li>\r\n<li>to contribute or send any Content that is infringing,\
      \ libelous, defamatory, obscene, pornographic, abusive, offensive or otherwise\
      \ violates any law or right of any third party;</li>\r\n<li>for any illegal\
      \ or unauthorized purpose. If User is an international user, User agrees to\
      \ comply with all local laws regarding online conduct and acceptable content;</li>\r\
      \n<li>to post or transmit, or cause to be posted or transmitted, any communication\
      \ or solicitation designed or intended to obtain password, account, or private\
      \ information from any HyperWeek user;</li>\r\n<li>to modify, adapt or hack\
      \ the Site or modify another website so as to falsely imply that it is associated\
      \ with the Site;</li>\r\n<li>to create or submit unwanted email (\"Spam\") to\
      \ any other HyperWeek users or any URL;</li>\r\n<li>to violate any laws in User's\
      \ jurisdiction (including but not limited to copyright laws);</li>\r\n<li>to\
      \ submit stories or comments linking to affiliate programs, multi-level marketing\
      \ schemes;</li>\r\n</ul>\r\n\r\n<p>User will not use any robot, spider, scraper\
      \ or other automated means to access the Site for any purpose without HyperWeek's\
      \ express written permission. Additionally, User agrees that it will not: (i)\
      \ take any action that imposes, or may impose in HyperWeek's sole discretion\
      \ an unreasonable or disproportionately large load on HyperWeek's infrastructure;\
      \ (ii) interfere or attempt to interfere with the proper working of the Site\
      \ or any activities conducted on the Site; or (iii) bypass any measures HyperWeek\
      \ may use to prevent or restrict access to the Site.</p>\r\n\r\n<p>HyperWeek\
      \ may remove any Content and terminate User's account at any time for any reason\
      \ (including, but not limited to, upon receipt of claims or allegations from\
      \ third parties or authorities relating to such Content or if HyperWeek believes\
      \ that User may have violated this Agreement), or for no reason at all. To report\
      \ Terms of Use abuse, please email: Email a Bug Report. User, not HyperWeek,\
      \ remains solely responsible for all Content that User uploads, posts, e-mails,\
      \ transmits, or otherwise disseminates using, or in connection with, the Services.\
      \ User acknowledges that all Content that User accesses using the Services is\
      \ at User's own risk and User will be solely responsible for any damage to any\
      \ party resulting therefrom.</p>\r\n\r\n<h2>RESTRICTIONS.</h2>\r\n\r\n<p>User\
      \ is responsible for all of its activity in connection with the Services and\
      \ accessing the Site. User may not post or transmit, or cause to be posted or\
      \ transmitted, any communication or solicitation designed or intended to obtain\
      \ password, account, or private information from any HyperWeek user. User shall\
      \ not use any part of the Site or Services to violate the security of any computer\
      \ network, crack passwords or security encryption codes, transfer or store material\
      \ that is deemed threatening or obscene, or engage in any kind of illegal activity.\
      \ User will not run Maillist, Listserv, any form of auto-responder, or \"spam\"\
      \ on the Site, or any processes that run or are activated while User is not\
      \ logged in to the Site and/or Service.</p>\r\n\r\n<h2>FEES/PAYMENT.</h2>\r\n\
      \r\n<p>Some of the Services on the Site require payment of fees. User shall\
      \ pay all applicable fees, as described on the Site in connection with such\
      \ Services selected by User. Any fees paid hereunder are non-refundable. HyperWeek\
      \ reserves the right to change its prices and to institute new charges at any\
      \ time, upon prior notice to User, which may be sent by email or posted on the\
      \ Site. User authorizes HyperWeek, directly or through third parties, to make\
      \ any inquiries it considers necessary to validate User's account and financial\
      \ information.</p>\r\n\r\n<h2>WARRANTY DISCLAIMER.</h2>\r\n\r\n<p>User acknowledges\
      \ that HyperWeek has no control over, and no duty to take any action regarding:\
      \ which users gains access to the Site or use the Services; what Content User\
      \ accesses via the Site or Services; what effects the Content may have on User;\
      \ how User may interpret or use the Content; or what actions User may take as\
      \ a result of having been exposed to the Content. User releases HyperWeek from\
      \ all liability for User having acquired or not acquired Content through the\
      \ Site or Services. The Site or Services may contain, or direct User to sites\
      \ containing, information that some people may find offensive or inappropriate.\
      \ HyperWeek makes no representations concerning any content contained in or\
      \ accessed through the Site or Services, and HyperWeek will not be responsible\
      \ or liable for the accuracy, copyright compliance, legality or decency of material\
      \ contained in or accessed through the Site or Services. THE SERVICES, CONTENT,\
      \ SITE AND ANY SOFTWARE ARE PROVIDED ON AN \"AS IS\" BASIS, WITHOUT WARRANTIES\
      \ OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED\
      \ WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT.\
      \ SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS,\
      \ SO THE ABOVE LIMITATIONS MAY NOT APPLY TO USER.</p>\r\n\r\n<h2>OTHER POLICIES.</h2>\r\
      \n\r\n<p>For information regarding HyperWeek's treatment of personally identifiable\
      \ information, please review HyperWeek's current privacy policy. If User believes\
      \ that material or content residing on or accessible through the Site or Services\
      \ infringes a copyright, please review HyperWeek's Copyright Dispute Policy.</p>\r\
      \n\r\n<h2>REGISTRATION AND SECURITY.</h2>\r\n\r\n<p>As a condition to using\
      \ the Services, User may be required to register with HyperWeek and enter an\
      \ email address and password (\"HyperWeek User ID\"). User shall provide HyperWeek\
      \ with accurate, complete, and updated registration information. Failure to\
      \ do so shall constitute a breach of this Agreement, which may result in immediate\
      \ termination of User's account. User may not (i) select or use as a User ID\
      \ a name of another person with the intent to impersonate that person; or (ii)\
      \ use as a User ID a name subject to any rights of a person other than User\
      \ without appropriate authorization. HyperWeek reserves the right to refuse\
      \ registration of, or cancel a HyperWeek User ID in its discretion. User shall\
      \ be responsible for maintaining the confidentiality of User's HyperWeek password.</p>\r\
      \n\r\n<h2>INDEMNITY.</h2>\r\n\r\n<p>User will indemnify and hold HyperWeek,\
      \ its parents, subsidiaries, affiliates, officers and employees, harmless, including\
      \ costs and attorneys' fees, from any claim or demand made by any third party\
      \ due to or arising out of User's access to the Site, use of the Services, the\
      \ violation of this Agreement by User, or the infringement by User, or any third\
      \ party using User's account, of any intellectual property or other right of\
      \ any person or entity.</p>\r\n\r\n<h2>LIMITATION OF LIABILITY.</h2>\r\n\r\n\
      <p><strong>IN NO EVENT SHALL HYPERWEEK OR ITS SUPPLIERS, OFFICERS, DIRECTORS,\
      \ EMPLOYEES, OR AGENTS BE LIABLE WITH RESPECT TO THE SITE OR THE SERVICES OR\
      \ THE SUBJECT MATTER OF THIS AGREEMENT UNDER ANY CONTRACT, NEGLIGENCE, TORT,\
      \ STRICT LIABILITY OR OTHER LEGAL OR EQUITABLE THEORY (I) FOR ANY AMOUNT IN\
      \ EXCESS OF THE GREATER OF THE AGGREGATE FEES PAID BY USER FOR SUCH SERVICES\
      \ OR $100; (II) FOR ANY INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES\
      \ OF ANY KIND WHATSOEVER; (III) FOR DATA LOSS OR COSTS OF PROCUREMENT OF SUBSTITUTE\
      \ GOODS, TECHNOLOGY OR SERVICES; OR (IV) FOR ANY MATTER BEYOND HyperWeek'S REASONABLE\
      \ CONTROL. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL\
      \ OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT\
      \ APPLY TO USER.</strong></p>\r\n\r\n<h2>TERMINATION.</h2>\r\n\r\n<p>Either\
      \ party may terminate the Services at any time by notifying the other party\
      \ by any means. HyperWeek may also terminate or suspend any and all Services\
      \ and access to the Site immediately, without prior notice or liability, if\
      \ User breaches any of the terms or conditions of this Agreement. Upon termination\
      \ of User's account, User's right to use the Services, access the Site and any\
      \ Content will immediately cease. All provisions of this Agreement which by\
      \ their nature should survive termination shall survive termination, including,\
      \ without limitation, ownership provisions, warranty disclaimers, indemnification\
      \ and limitations of liability.</p>\r\n\r\n<h2>THIRD PARTY WEBSITES AND INTERACTIONS.</h2>\r\
      \n\r\n<p>The Site may contain links to third party websites that are not owned\
      \ or controlled by HyperWeek. When User accesses third party websites, it does\
      \ so at its own risk. HyperWeek encourages User to be aware when it leaves the\
      \ Site and to read the terms and conditions and privacy policy of each third\
      \ party website that User visits. HyperWeek has no control over, and assumes\
      \ no responsibility for, the content, accuracy, privacy policies, or practices\
      \ of, or opinions expressed in any third party websites. In addition, HyperWeek\
      \ will not and cannot monitor, verify, censor or edit the content of any third\
      \ party site. By using the Site, User expressly relieves HyperWeek from any\
      \ and all liability arising from User's use of any third party website.</p>\r\
      \n\r\n<p>User's interactions with organizations and/or individuals found on\
      \ or through the Service are solely between User and such organizations and/or\
      \ individuals. User should make whatever investigation it feels necessary or\
      \ appropriate before proceeding with any online or offline transaction with\
      \ any of these third parties. User agrees that HyperWeek shall not be responsible\
      \ or liable for any loss or damage of any sort incurred as the result of any\
      \ such dealings. If there is a dispute between participants on the Site, or\
      \ between User and any third party, User understands and agrees that HyperWeek\
      \ is under no obligation to become involved. In the event that User has a dispute\
      \ with one or more other users, User hereby releases HyperWeek, its officers,\
      \ employees, agents and successors in rights from claims, demands and damages\
      \ (actual and consequential) of every kind or nature, known or unknown, suspected\
      \ and unsuspected, disclosed and undisclosed, arising out of or in any way related\
      \ to such disputes and/or our service. If User is a California resident, User\
      \ waives California Civil Code Section 1542, which says: \"A general release\
      \ does not extend to claims which the creditor does not know or suspect to exist\
      \ in his favor at the time of executing the release, which, if known by him\
      \ must have materially affected his settlement with the debtor.\"</p>\r\n\r\n\
      <h2>MISCELLANEOUS.</h2>\r\n\r\n<p>The failure of either party to exercise in\
      \ any respect any right provided for herein shall not be deemed a waiver of\
      \ any further rights hereunder. HyperWeek shall not be liable for any failure\
      \ to perform its obligations hereunder where such failure results from any cause\
      \ beyond HyperWeek's reasonable control, including, without limitation, mechanical,\
      \ electronic or communications failure or degradation. If any provision of this\
      \ Agreement is found to be unenforceable or invalid, that provision shall be\
      \ limited or eliminated to the minimum extent necessary so that this Agreement\
      \ shall otherwise remain in full force and effect and enforceable. This Agreement\
      \ is not assignable, transferable or sublicensable by User except with HyperWeek's\
      \ prior written consent. HyperWeek may transfer, assign or delegate this Agreement\
      \ and its rights and obligations without consent. This Agreement shall be governed\
      \ by and construed in accordance with the laws of the state of California without\
      \ regard to the conflict of laws provisions thereof. Both parties agree that\
      \ this Agreement is the complete and exclusive statement of the mutual understanding\
      \ of the parties and supersedes and cancels all previous written and oral agreements,\
      \ communications and other understandings relating to the subject matter of\
      \ this Agreement, and that all modifications must be in a writing signed by\
      \ both parties, except as otherwise provided herein. No agency, partnership,\
      \ joint venture, or employment is created as a result of this Agreement and\
      \ User does not have any authority of any kind to bind HyperWeek in any respect\
      \ whatsoever.</p>\r\n\r\n<p><em>Effective Date: June 2, 2008</em></p>\r\n\r\n\
      <h2>MISCELLANEOUS.</h2>\r\n\r\n<p>Those Term of services are a modified version\
      \ of the terms of services available by Automattic under the Creative Commons\
      \ Sharealike license. You're welcome to use this version under the same license.</p>"
    enable_comments: false
    registration_required: false
    sites: [1]
    template_name: ''
    title: Terms
    url: /terms/
  model: flatpages.flatpage
  pk: 2
